@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #6a51a6; /* Change this color as per your design */
    position: fixed;
    z-index: 1031; /* Ensure it sits on top of other elements */
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Adjust height as needed */
}

#nprogress .peg {
    display: block;
    position: absolute;
    z-index: 1031; /* Ensure it sits on top of other elements */
    right: 0;
    width: 100px; /* Width of the peg */
    height: 100%; /* Full height */
    background: #6a51a6; /* Same color as the bar */
    box-shadow: 0 0 10px #6a51a6, 0 0 5px #6a51a6; /* Optional shadow */
    opacity: 1.0;
    transform: translate3d(0, 0, 0); /* Make it animate smoothly */
}
